<!-- <app-ng-for></app-ng-for> -->
<!-- <app-directive></app-directive> -->
<!-- <p ngNonBindable appHighlight="blue">Highlight me!</p>
<p ngNonBindable>这样是不会被求值: {{ 1 + 1 }}</p> -->

<!-- <div>
  <h3>unless 结构型指令</h3>
  <button class="btn btn-primary" (click)="showUnless = !showUnless">切换showUnless--{{showUnless}}</button>
  <p *appUnless="showUnless; let un">测试uless指令 --- {{un}}</p>
</div>
 -->
<!-- <app-tpl-outlet [render]="outTpl"></app-tpl-outlet>
<ng-template #outTpl let-key let-val="value">
  <p>外部传入模板内容 --- 组件内部传过来的变量默认值:{{key}},value:{{val}}</p>
</ng-template> -->

<!-- <app-dialog>
  <p attr>这是从父组件传入的通过<b>属性选择器</b>选中的内容</p>
  <p>这是从父组件传入的默认内容</p>
  <article>这是从父组件传入的通过<b>标签选择器</b>选中的内容</article>
  <p class="fromClass">这是从父组件传入的通过<b>class名</b>选中的内容</p>
  <p id="fromId">这是从父组件传入的通过<b>id</b>选中的内容</p>
</app-dialog> -->

<!-- <app-view-child></app-view-child> -->

<!-- <app-content-child>
  <span class="head">传入的头部</span>
  <div #other>其他内容</div>
  <app-content-child-panel></app-content-child-panel>
  <app-content-child-panel></app-content-child-panel>
  <div class="foot">
    <app-content-child-panel></app-content-child-panel>
  </div>
</app-content-child> -->

<!-- <app-pipe></app-pipe> -->
<!-- <button class="btn btn-primary" (click)="show = !show">toggle life-cycle</button>
<app-life-cycle title="This is a title" *ngIf="show"></app-life-cycle> -->
<!-- <app-transfer [sourceData]="sourceData" [search]="true" [customTpl]="customTpl"></app-transfer>
<ng-template #customTpl let-item="item">
  <input type="checkbox" class="form-check-input" [id]="item.value" [checked]="item.checked" >
  <label class="form-check-label" [for]="item.value">{{item.value}}</label>
</ng-template> -->

<!-- <app-alert-box></app-alert-box> -->
<!-- <app-service></app-service> -->

<!--<app-rxjs-demo></app-rxjs-demo>-->

<app-demos></app-demos>
<!--<app-router-study></app-router-study>-->
