<!-- <app-ng-for></app-ng-for> -->
<!-- <app-directive></app-directive> -->
<!-- <p ngNonBindable appHighlight="blue">Highlight me!</p>
<p ngNonBindable>这样是不会被求值: {{ 1 + 1 }}</p> -->

<!-- <div>
  <h3>unless 结构型指令</h3>
  <button class="btn btn-primary" (click)="showUnless = !showUnless">切换showUnless--{{showUnless}}</button>
  <p *appUnless="showUnless; let un">测试uless指令 --- {{un}}</p>
</div>
 -->
<!-- <app-tpl-outlet [render]="outTpl"></app-tpl-outlet>
<ng-template #outTpl let-key let-val="value">
  <p>外部传入模板内容 --- 组件内部传过来的变量默认值:{{key}},value:{{val}}</p>
</ng-template> -->

<!-- <app-dialog>
  <p attr>这是从父组件传入的通过<b>属性选择器</b>选中的内容</p>
  <p>这是从父组件传入的默认内容</p>
  <article>这是从父组件传入的通过<b>标签选择器</b>选中的内容</article>
  <p class="fromClass">这是从父组件传入的通过<b>class名</b>选中的内容</p>
  <p id="fromId">这是从父组件传入的通过<b>id</b>选中的内容</p>
</app-dialog> -->

<app-view-child></app-view-child>